.fade-appear,
.fade-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.fade-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.fade-appear,
.fade-enter-active {
    animation-name: ivuFadeIn;
    animation-play-state: running
}

.fade-leave-active {
    animation-name: ivuFadeOut;
    animation-play-state: running
}

.fade-appear,
.fade-enter-active {
    opacity: 0;
    animation-timing-function: linear
}

.fade-leave-active {
    animation-timing-function: linear
}

@keyframes ivuFadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes ivuFadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}