@charset "UTF-8";
@import './common/var.css';

@component-namespace kl {
    @b button {
        /*- 移除浏览器中的margin。| Remove margins in Chrome, Safari and Opera.*/
        -webkit-appearance: none;
        margin: 0;
         /*- 移除浏览器中的默认border。| Remove borders for `button`.*/
        overflow: visible;
         /*- 让字体继承父节点的。| Correct `font` properties not being inherited for `button`.*/
        font: inherit;
         /*- Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE.*/
        text-transform: none;
         /*- 为了`a`标签。| Required for `a`.*/
        text-decoration: none;
         /*- 统一用`pointer`，在`a`标签没有`href`的时候鼠标指针不是pointer。 | Use pointer cursor at any time.*/
        cursor: pointer;
         /*- 统一box-sizing，a标签默认的box-sizing是content-box，而button标签默认的box-sizing是border-box。*/
        box-sizing: border-box;
         /*- Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214*/
        background: none;
         /*- Others*/
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        /*height: var(--height-base);*/
        /*min-width: calc(var(--size-base) * 10);*/
        /*padding: 0 calc(var(--size-base) * 2);*/
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
        /*line-height: calc(var(--height-base) - 2);*/
        font-size: 12px;
        color: #333;
        transition-duration: 0.1s;
        transition-property: transform;
        transition-timing-function: ease;
        white-space: nowrap;

        &:hover,
        &:focus {
            outline: none;
            text-decoration: none;
            background: #fff;
            border-color: #bbb;
        }
        &:active {
            outline: none;
        }
        @m sm {
            height: 24px;
        }
        @m primary {
            height: 32px;
        }
        @m secondary {
            height: 32px;
        }
        @m z-act {
            background: #fff;
        }

        @when disabled {
            cursor: not-allowed;
            opacity: .5;
            box-shadow: none;
        }
    }
}
